<div class="container border border-dark rounded">
    <div>
        <h1 class="text-center">Confirmación de Borrado</h1>
        <hr>
    </div>
    <div class="row">
        <div class="col font-weight-bold">
            <label>Nombre:</label>
        </div>
        <div class="col">
            {{ paciente.nombrePaciente }}
        </div>

        <div class="col font-weight-bold">
            <label>Cédula:</label>
        </div>
        <div class="col">
            {{ paciente.cedula }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button type="submit" class="btn btn-primary mt-3 mx-1 form-control"
                (click)="eliminarPaciente(paciente.idPaciente)">Confirmar</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-danger mt-3 mx-1 form-control"
                routerLink="/paciente/listar">Cancelar</button>
        </div>
        <br><br><br>
    </div>
</div>